@Model WebMotors.Framework.ModelsPages.AnnounceHomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Motors Anúncios</h1>

    <div>
        <form>

            <label >Marcas:</label>
            <select asp-items="@Model.CarsMakes" name="Makes"></select>

            <button asp-action="PostAnnounced">Cadastrar Anúncio</button>
        </form>
    </div>

</div>
